body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #CCCCFF;
}


.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}


.wrapper {
    color: #000000;
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}


.title-card {
    background-color: #CCCCFF;
    background: rgba(76, 175, 80, 0.2);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.40);
}

.dropdown-card {
    background-color: #CCCCFF;
    background: rgba(76, 175, 80, 0.2);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.40);
}




.indicators-card {
    height: 200px;
    font-size: 15px;
    background-color: #CCCCFF;
    background: rgba(76, 175, 80, 0.2);
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.40);
}

